<%= form_with method: :post do |form| %>
  <div class="form-group">
    <input id="assets" name="assets" type="file" class="form-control-file">
  </div>

  <button class="btn btn-primary" type="submit"> Upload images</button>
<% end %>

<%= link_to 'Back', images_path %>